
.carrossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%
}

.swiper-button-prev,
.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: .5em 0
}

.descricao__texto{
    font-size: 14px;
    color: var(--preto-transparente);
}

.botoes{
    display: flex;
}

.botoes__ancora{
    background-color: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
    /* width: 50%; */
    text-align: center;
    padding: 1em 2.2em
}

.card__botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.botoes__item{
    margin: 0 .5em;
}

.descricao__star-list{
    display: flex;
    margin-bottom: .5em;
}

.star__item{
    margin-right: .3em;
}

