.contato{
    /* border-bottom: 1px solid #858585; */
    background-color: var(--branco);
    padding: 1em;
    
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__texto{
    font-weight: 300;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin: 1em 0;
}

.contato__email{
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 2em;
    width: 90%;
    color: var(--azul);
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    background: url('../img/Email.svg');
    background-repeat: no-repeat;
    color: var(--azul);
    /* background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
/* text-fill-color: transparent; */
    background-position: .5em;
    /* text-align: center; */
    padding-left: 3em;
}

@media screen and (min-width: 1024px){
    .contato{
        display: flex;
        flex-direction: row;
        padding: 4em 3em;
        align-items: center;
        justify-content: center;
    }

    .contato__titulo{
        font-size: 24px;
    }
    .contato__descricao, .contato__email{
        width: 40%;
        /* margin: 1em; */
    }
}

@media screen and (min-width: 1728px){
    .contato{
        padding: 3em 20vw;
        column-gap: 2em;
    }

    .contato__descricao{
        width: 37.8%;
    }
}