hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;

}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        /* justify-content: space-between; */
        padding: 3em 1em;
        column-gap: 5em;
        justify-content: space-between;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .rodape__titulo{
        font-size: 24px;
        color: var(--preto);
    }

    .lista-rodape{
        display: flex;
        flex-direction: column;
    }

    .lista-rodape__titulo, .lista-rodape__item{
        font-size: 14px;
    }
    .lista-rodape__titulo{
        color: var(--cinza-claro);
        margin-bottom: 1.5em;
    }
    .lista-rodape__item{
        display: flex;
        align-items: center;
        column-gap: .5em;
        margin: .5em 0;
    }
    .lista-rodape__item a{
        text-decoration: none;
        color: var(--cinza-escuro);
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape{
        padding: 4em 15em;
        justify-content: space-between;
    }
}