.topicos{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo{
    font-weight: 300;

}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.topicos__item{
    margin: 1.5em .5em;
}

.topicos__link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--laranja);
    padding: 1em;
    color: var(--branco);
}

@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__lista{
        justify-content: space-evenly;
        width: 80%;
        margin: 1em auto 0 auto;
    }

    .topicos__item{
        margin: 2.5em .5em;
    }
    .topicos__link{
        font-size: 24px;
    }
}